---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Preparación para",
    titleBottom: "Exámenes de Admisión",
    img: c1,
    alt: "Exámenes de Admisión",
    link: "#",
  },
  {
    index: 2,
    titleTop: "Refuerzo en",
    titleBottom: "Matemáticas y Ciencias",
    img: c2,
    alt: "Matemáticas y Ciencias",
    link: "#",
  },
  {
    index: 3,
    titleTop: "Clases de",
    titleBottom: "Razonamiento Verbal",
    img: c3,
    alt: "Razonamiento Verbal",
    link: "#",
  },
  {
    index: 4,
    titleTop: "Simulacros de",
    titleBottom: "Exámenes Oficiales",
    img: c4,
    alt: "Simulacros de Exámenes",
    link: "#",
  },
  {
    index: 5,
    titleTop: "Asesoría en",
    titleBottom: "Orientación Vocacional",
    img: c5,
    alt: "Orientación Vocacional",
    link: "#",
  },
  {
    index: 6,
    titleTop: "Técnicas de",
    titleBottom: "Estudio Efectivo",
    img: c6,
    alt: "Técnicas de Estudio",
    link: "#",
  },
];

const description =
  "En nuestro preuniversitario, ofrecemos programas diseñados para maximizar tu rendimiento académico y asegurar tu ingreso a la universidad. Descubre nuestros servicios:";
---

<Section id="services">
  <div class="mt-[90px] mb-5">
    <SectionTitle sectionTitle="Servicios" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
